.feedback {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.button {
  color: #2e3440;
  background: #e5e9f0;
  border: 1px solid #d8dee9;
  border-radius: 25px;
  width: 70px;
  text-align: center;
  cursor: pointer;
}
